altair==5.5.0
aniso8601==10.0.1
asgiref==3.8.1
attrs
blinker==1.9.0
cachetools==6.2.2
certifi==2025.6.15
cffi==2.0.0
charset-normalizer==3.4.3
chromedriver-py==138.0.7204.49
click==7.1.2
colorama==0.4.6
coloredlogs==15.0.1
cryptography==46.0.1
Django==5.1.1
Flask==1.1.4
flask-cors==6.0.2
flask-restx==1.3.2
gitdb==4.0.12
GitPython==3.1.45
h11==0.16.0
humanfriendly==10.0
idna==3.10
importlib_resources==6.5.2
itsdangerous==1.1.0
jellyfish==1.2.0
Jinja2==2.11.3
joblib==1.5.3
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
lib50==3.1.4
markdown2==2.5.2
MarkupSafe==2.0.1
narwhals==2.12.0
numpy==2.3.3
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.3
pexpect==4.9.0
pillow==11.3.0
protobuf==6.33.1
ptyprocess==0.7.0
pyarrow==21.0.0
pycbr==0.2.3
pycparser==2.22
pydeck==0.9.1
pyreadline3==3.5.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
referencing==0.37.0
requests==2.32.5
rpds-py==0.29.0
scikit-learn==1.8.0
scipy==1.16.3
selenium==4.33.0
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.5.1
streamlit==1.51.0
tenacity==9.1.2
termcolor==1.1.0
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.5.2
trio==0.30.0
trio-websocket==0.12.2
typing_extensions==4.13.2
tzdata==2024.1
urllib3==2.4.0
watchdog==6.0.0
websocket-client==1.8.0
Werkzeug==0.16.1
wheel==0.45.1
wsproto==1.2.0
z3-solver==4.15.4.0
